extends layout
block content
    .login-panel
        img(src="images/login-img.jpg")
        include includes/login-form
    .register-panel
        img(src="images/register-img.png")
        include includes/register-form